body {
    background-color: #EAFAF1;
    color: #167bb9;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #043468;
    text-shadow: 1px 1px 0px rgb(4, 0, 54), 4px 4px 0px rgb(245, 114, 114);
    font-size: 35px;
  }
  h1, p {
    text-align: center;
  }
  
  .container {
    margin: 10% auto;/* Centra horizontalmente el contenedor */
    max-width: 800px;
    border: 1px solid saddlebrown;
    background: linear-gradient(to bottom right, #fac0c0, #eeeded); /* Gradiente para el fondo texturizado */
  }

  h1 {
    font-weight: bold;
  }
  .autor {
    text-align: right;
  }
  .derecha {
    display: inline-block; /* Para que el ancho se ajuste al contenido */
    margin-right: 2%;
  }