body {
    background-color: #EAFAF1;
    color: #167bb9;
    font-family: EB Garamond, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    
  }
  h1 {
    color: #043468;
    /*text-shadow: 1px 1px 0px rgb(4, 0, 54), 4px 4px 0px rgb(245, 114, 114);*/
    font-size: 35px;
  }
  h1, p {
    text-align: center;
  }
  
  .container {
    margin: 10% auto;/* Centra horizontalmente el contenedor */
    max-width: 800px;
    border: 1px solid saddlebrown;
    background: linear-gradient(to bottom right, #fac0c0, #eeeded); /* Gradiente para el fondo texturizado */
    box-shadow: 0px 2px 2px 0px saddlebrown;
    margin: 10% auto 0;
  }
  .cabecera {
    background-color: #e8e3ec; /* color morado */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px 0px saddlebrown;
  }
  

  .logo {
    width: 5%; /* Ancho del logo en un 10% del contenedor padre */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
  }
  
  .logo img {
    border-radius: 50%;
    width: 100%; /* Ancho al 100% del contenedor de la imagen */
    height: 100%; /* Altura al 100% del contenedor de la imagen */
  }

  .titulo {
    font-size: 2rem;
    margin: 0;
    text-align: left;
    font-family: "Roboto", sans-serif; /* fuente elegante */
    color: #240625; /* color de texto blanco */
  }
  h1 {
    font-weight: bold;
  }
  .autor {
    text-align: right;
  }
  .derecha {
    display: inline-block; /* Para que el ancho se ajuste al contenido */
    margin-right: 2%;
  }

  .msn {
    text-align: left;
  }
  .izquierda {
    display: inline-block; /* Para que el ancho se ajuste al contenido */
    margin-left: 2%;
  }

  .footer {
    background-color: #e8e3ec;
    padding: 0px;
    text-align: center;
    
    
    box-shadow: 0px -2px 2px 0px saddlebrown;
    font-size: 14px;
    color: #240625;
    position: absolute;
    bottom: 0;
    width: 100%;
  }